{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% else %}
        <p>Please, enter your credentials:</p>
    {% endif %}
    <div class="login-form">
        <form action="." method="post">
            {% csrf_token %}
            {{ form.username.label_tag }} {{ form.username }}
            {{ form.password.label_tag }} {{ form.password }}

            <div style="display: none;">
                {{ form.honeypot }}
            </div>
            <p><input type="submit" value="Login"></p>
        </form>
        <p>No account? <a href="{% url 'register' %}">Sign Up</a></p>
    </div>
{% endblock %}