{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% else %}
        <p>Please, enter your credentials:</p>
    {% endif %}
    <div class="login-form">
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Login"></p>
        </form>
        <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
        <p>No account? <a href="{% url 'register' %}">Sign Up</a></p>
    </div>
{% endblock %}