{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h3>Notes for You</h3>
    <div id="notes">
        {% for note in page_obj %}
        <div class="note">
            <strong>{{ note.title }}</strong> - {{ note.created_at|date:"M d, Y H:i" }}
            <div class="note-content">
                {{ note.serialized_content|safe }}
            </div>
            <form action="{% url 'like_note' note.id %}" method="post">
                {% csrf_token %}
                <button type="submit", name="note_id", class="like-button", value="{{ note.id }}">{{ note.likes.count }} {{ note.likes.count|pluralize:"Like,Likes" }}</button>
            </form>

            {% if page_obj.has_next and forloop.last %}
                <span hx-get="{% url 'dashboard' %}?page={{ page_obj.next_page_number }}"
                    hx-swap="beforeend" hx-target="#notes" hx-select=".note"
                    hx-trigger="revealed">
                </span>
            {% endif %}

        </div>
        {% endfor %}

    </div>

    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>


{% endblock %}