{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>
        {{ profile_user.username }}'s Notes
        {% if not is_owner %}
            <form method="POST" action="{% url 'user_follow' profile_user.id %}">
                {% csrf_token %}
                {% if is_following %}
                    <button type="submit" class="btn btn-danger">Unobserve</button>
                {% else %}
                    <button type="submit" class="btn btn-primary">Observe</button>
                {% endif %}
            </form>
        {% endif %}
    </h1>
    <div class="row">
        <div class="column content">
            <h2>All Notes</h2>
                {% for note in page_obj %}
                    <strong>{{ note.title }}</strong> - {{ note.created_at|date:"M d, Y H:i" }}
                    <div>
                        {{ note.serialized_content|safe }}
                    </div>
                    <form action="{% url 'like_note' note.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit", name="note_id", class="like-button", value="{{ note.id }}">{{ note.likes.count }} {{ note.likes.count|pluralize:"Like,Likes" }}</button>
                    </form>
                {% empty %}
                    No notes yet.
                {% endfor %}

                {% if page_obj.has_next and forloop.last %}
                    <span hx-get="{% url 'dashboard' %}?page={{ page_obj.next_page_number }}"
                        hx-swap="beforeend" hx-target="#notes" hx-select=".note"
                        hx-trigger="revealed">
                    </span>
                {% endif %}
        </div>

        {% if is_owner and is_obligated %}
            <div class="column note_form">
                <h2>Add a New Note</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Save Note</button>
                </form>
            </div>
        {% endif %}
        {% if is_owner and not is_obligated %}
            <div class="column note_form">
                <h2>Verify otp if you want to send notes</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Verify</button>
                </form>
            </div>
        {% endif %}
    </div>

    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const privateCheckbox = document.getElementById("id_is_private");
            const recipientField = document.getElementById("id_recipient_usernames"); // poprawiona nazwa
            const passwordField = document.getElementById("id_password");
        
            function toggleFields() {
                if (privateCheckbox.checked) {
                    recipientField.closest("p").style.display = "block"; // Pokaż pole
                    passwordField.closest("p").style.display = "block"; // Pokaż pole
                } else {
                    recipientField.closest("p").style.display = "none"; // Ukryj pole
                    passwordField.closest("p").style.display = "none"; // Ukryj pole
                }
            }
        
            toggleFields(); // Ukryj pola na starcie
        
            privateCheckbox.addEventListener("change", toggleFields);
        });
    </script>

    <style>
        #id_recipient_username,
        label[for="id_recipient_username"] {
            display: none;
        }
        #id_password
        label[for="id_recipient_username"] {
            display: none;
        }
        </style>
    </style>

{% endblock %}
