{% extends "base.html" %}
{% block title %}Sent Notes Box{% endblock %}
{% block content %}
    <h3>All Private Notes You Received</h3>
    <div id="notes">
        {% for note in page_obj %}
            <div class="note">
                <strong>{{ note.title }}</strong> - {{ note.created_at|date:"M d, Y H:i" }}
                <br>
                <strong>From:</strong> {{ note.author }}
                <br>
                <p>{{ note.content | safe}}</p>

                {% if page_obj.has_next and forloop.last %}
                    <span hx-get="{% url 'dashboard' %}?page={{ page_obj.next_page_number }}"
                        hx-swap="beforeend" hx-target="#notes"
                        hx-trigger="revealed">
                    </span>
                {% endif %}
            </div>
        {% endfor %}

    </div>

    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>


{% endblock %}