{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo">NotesBestApp</span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if seciton == "dashboard" %}class="selected"{% endif %}>
                    <a href="{% url "dashboard" %}">Dashboard</a>
                </li>
                {% comment %} <li {% if section == "notes" %}class="selected"{% endif %}>
                    <a href="{% url "notes" %}">Notes</a>
                </li> {% endcomment %}
                <li {% if section == "people" %}class="selected"{% endif %}>
                    <a href="#">People</a>
                </li>
            </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                Welcome, {{ request.user.username }}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" style="all: unset; cursor: pointer;">logout</button>
                </form>
            {% else %}
                <a href="{% url "login" %}">login</a>
            {% endif %}
        </span>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>